/* Fondo de la página */
.login-background {
   background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('../img/login/home-bg.jpg');
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100%;
}

.lo_pa-container-tool{
   min-height: 100vh;
}

/* Icono de cerrar */
.close-icon {
   position: absolute;
   top: 15px;
   right: 15px;
   font-size: 1.5rem;
   cursor: pointer;
   color: #333;
}

.lp_card_textField {
   margin-bottom: 20px !important;
}

@media (max-width: 899px) {
   .login-left-container {
      display: none;
   }
   .login-right-form {
      border-radius: 6px;
      overflow: hidden;
   }
}

@media (max-width: 678px) {
   .login-right-form {
      margin-inline: 2rem;
   }
}

@media (max-height: 975px) {
   .lo_pa-opciones-inicio {
      margin-bottom: 2rem;
   }
}